venv
__pycache__

*.session
*.session-journal
*.DB
*.DB-journal

data/
config.env
sessions/

*.jpg
*.mp4
*.pyc
*.txt

Manjari*

stdplugins/auto_destruct_read_messages.py
stdplugins/cheat_tg.py
stdplugins/deleted_messages_watcher.py
stdplugins/quotlybot.py
stdplugins/tb_button.py
stdplugins/auto_pp*.py
stdplugins/ban_channels*.py
stdplugins/annoy_mention_796.py
